.contacts {
    padding: 100px 105px 0;
}

@media screen and (max-width: 1350px) {
    .contacts {
        padding: 100px 50px 0;
    }
}

@media screen and (max-width: 1000px) {
    .contacts {
        padding: 60px 24px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 665px) {
    .contacts {
        display: block;
    }
}