.about-us__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.18%;
    letter-spacing: 0.03em;
    color: #686868;
    margin: 20px 0 0;
    max-width: 390px;
}

.about-us__text:first-of-type {
    margin: 144px 0 0;
}

@media screen and (max-width: 1350px) {
    .about-us__text:first-of-type {
        margin: 50px 0 0;
    }
    .about-us__text {
        max-width: 924px;
    }
}

@media screen and (max-width: 1000px) {
    .about-us__text:first-of-type {
        margin: 30px 0 0;
    }
    .about-us__text {
        max-width: 924px;
        margin: 20px 0 0;
    }
}

@media screen and (max-width: 665px) {
    .about-us__text {
        font-size: 12px;
        max-width: 272px;
    }
}