.header__button {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #2F70D9;
    padding: 8px 19px 7px 19px;
    border: 2px solid #2F70D9;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .header__button {
        width: 144px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .header__button {
        display: none;
    }
}