.contacts__number {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.03em;
    margin: 25px 0 0;
    color: #000000;
}

.contacts__number:last-of-type {
    margin: 10px 0 0;
}

@media screen and (max-width: 665px) {
    .contacts__number {
        font-size: 20px;
        line-height: 27px;
        margin-top: 15px;
    }
    .contacts__number:last-of-type {
        margin: 5px 0 0;
    }
}