.contacts__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #686868;
    margin: 25px 0 0;
}

@media screen and (max-width: 665px) {
    .contacts__subtitle {
        font-size: 16px;
        margin-top: 15px;
    }
}